*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,ul,li,a,p{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-width: 330px;
}

/* ******************************************************************************************* */
/* HEADER START */
/* ******************************************************************************************* */


.header{
    background: url(../img/header-fon.jpg) no-repeat center/cover;
    padding-top: 25px;
    height: 100vh;
    position: relative;
}

.header__nav-link{
    margin-right: 40px;
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
}
.header__nav-link:hover{
    color: #fff;
    text-shadow: 0 0 15px #ffffff;
}

.header__nav-search{
    margin-right: 16px;
    font-size: 18px;
}

.header__nav-icons{
    display: flex;
    margin-left: 20px;
}

.header__nav-icons-link{
    color: #fff;
    margin-right: 25px;
    font-size: 18px;
    transition: 0.5s;
}

.header__nav-icons-link:hover{
    color: #fff;
    text-shadow: 0 0 15px #ffffff;
}

.header__text{
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header__text-title{
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.header__text-link{
    background: #333;
    width: 261px;
    height: 51px;
    color:#fff ;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

.header__text-link:hover{
    color: #fff;
    box-shadow: 0 0 15px 5px #fff;
}

/* ************************************************************************************* */
/* LINE START */
/* ************************************************************************************* */

.line{
    background: #333333f1;
    border-top: 1px solid #fff;
    padding: 30px 0px;
}

.inline{
    width: 100%;
    border-right: 1px solid #fff;
    padding-right: 30px;
}

.outline{
    border-right: none;
}

/* ************************************************************************* */
/* SECTION-TAB START */
/* ************************************************************************* */


.section-tab__p{
    color: #333;
    font-size: 21px;
    text-align: center;
}

.section-tab__title{
    color: #333;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.section-tab{
    padding-top: 100px;
    padding-bottom: 120px;
}

.nav-link{
    width: 165px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px !important;
    color: #333;
    background: #ffffff !important;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 20px;
    position: relative;
    transition: 0.5s;
    border: 1px solid #d6d6d6 !important;
}

.nav-link::before{
    content: '';
    width: 165px;
    height: 55px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 1px solid #d6d6d6 !important;
    z-index: -2;
}

.nav-link:hover{
    width: 172px;
    height: 61px;
    background: #333 !important;
    color: #fff !important;
}

.nav-link.active{
    width: 172px;
    height: 61px;
    background: #333 !important;
    color: #fff !important;
}

.section-tab__block{
    margin-top: 60px;
}

.section-tab__block-box{
    position: relative;
    margin-top: 55px;
    overflow: hidden;
    cursor: pointer;
}

.section-tab__block-img{
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: 0.5s;
    object-fit: cover;
}

.section-tab__block-box:hover .section-tab__block-img{
    transform: scale(1.2);
}

.section-tab__block-link{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(180deg, #b4b4b400 20.31%, #333333 100%);
    transition: 0.5s;
}

.section-tab__block-link:hover{
    background: linear-gradient(180deg, #b4b4b400 20.31%, #2a2a2a 100%);
    color: #ffffff;
    text-shadow: 0 0 15px #fff;
}

.section-tab__ul{
    display: flex;
    justify-content: center;
}


/* *********************************************************************************** */
/* FOOTER START */
/* *********************************************************************************** */

.footer{
    padding: 100px 0px;
    background: url(../img/fon-moscow.jpg) no-repeat center/cover;
    background-attachment: fixed;
}

.footer__top{
    font-size: 21px;
    color: #ffffff;
    
}

.footer__title{
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 30px;
    color: #ffffff;
}

.footer__but{
    max-width: 730px;
    width: 100%;
    margin: auto;
    color: #ffffff;
    font-size: 18px;
}

.footer__link{
    width: 224px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin: auto;
    margin-top: 60px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    transition: 0.5s;
}

.footer__link:hover{
    background: transparent;
    box-shadow: 0 0 15px 5px #fff;
    color: #fff;
    text-shadow:  0 0 15px #fff;
}